.image{
    background-image: url("../assets/nawfs.jpg");
    background-position: center top;
    background-size: cover;
    animation: blob 5s ease-in-out infinite;
    transition: all 1s ease-in-out ;
}

@keyframes blob {
    0%, 100%{
        border-radius: 60% 90% 80% 70% / 80% 70% 60% 90%;
    }

    50%{
        border-radius: 80% 50% 60% 70%;
    }
}