@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

.font-glory{
    font-family: "Glory", sans-serif;
}

.outlet{
    height: calc(100vh - 96px);
    width: 100vw;
}

.slider{
    animation: slide-loop 100s linear infinite;
}

@keyframes slide-loop{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 640px) {
    .outlet{
        height: 100%;
    }
}